.heading {
    font-size: 20px;
    width: 100%;
    margin: 0px;
    color: bisque;
    font-weight:bold;
}

.note_heading {
    font-size: 15px;
    color:aliceblue;
}

body {
    background: url("background.png");
    background-size: cover;
}

.speed {
    float: left;
}

.gif_bg {
    width: 200px;
    border-radius: 100px;
}

.volume {
    float: right;
}

canvas {
    box-shadow: 5px, 10px 15px lightskyblue;
}